/* @font-face {
  font-family: 'Gumela';
  src: url('./fonts/Gumela Regular.otf') format('opentype');
} */

:root {
  --yellow: #F5C32C;
  --orange: #FCA61F;
  --black: #242D49;
  --gray: #788097;
  --blueCard: #DDF8FE;
  --purple: rgb(238 210 255);
  --light: white;
  --dark: black;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --blackToYellow: black;

  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  font-family: 'Gumela';
  font-weight: normal;
  font-size: 20px;
}

body {
  background-color: var(--light);
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  
}

.button {
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  transition: all 0.3s ease-in;
  border: solid 1px #fb982f;
}

.button:hover {
  background: white;
  cursor: pointer;
  border: 1px solid var(--orange);
  color: var(--orange);
  transform: translateY(-4px);
}

section {
  position: relative;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.loading {
  filter: blur(10px) grayscale(100%);
}

.loaded {
  filter: blur(0) grayscale(0);
  transition: 0.3s ease-in-out;
}